# DO NOT TOUCH THIS FILE

certifi
charset-normalizer
easyocr>=1.7.0
filelock
idna
imageio
Jinja2
lazy_loader
MarkupSafe
mpmath
networkx
ninja
numpy
opencv-python
opencv-python-headless
Pillow
psutil
pyclipper
pypresence
python-bidi
PyWavelets
pywin32
PyYAML
requests
scikit-image
scipy
shapely
sympy
tifffile
torch
torchvision
typing_extensions
urllib3

watchdog